/*--- Display --------------------------*/
.gallery
  margin-bottom: 2*$s
  &__row
    display: flex
    justify-content: space-between
    margin-bottom: 0.5%
    @for $i from 1 through 10
      &--#{$i} /*(100-0.5*n-1)/n where 0.5 = spacing%*/
        .image, .video
          object-fit: cover
          $w: ((100% - 0.5% * ($i - 1))/$i)
          max-width: $w

/*--- Coloring -------------------------*/
.gallery
  .image, .video
    //box-shadow: 0px 0px 5px black
    outline: $s/4 solid $background-color

/*--- Video Controls -------------------*/
.gallery .video
  &::-webkit-media-controls-volume-slider, &::-webkit-media-controls-volume-control-container, &::-webkit-media-controls-mute-button, &::-webkit-media-controls-timeline
    display: none
  &::-webkit-media-controls-current-time-display, &::-webkit-media-controls-time-remaining-display
    font-family: monofonto
    opacity: 0.5
    color: $g
  &::-webkit-media-controls-panel
    background: none
  &::-webkit-media-controls-play-button, &::-webkit-media-controls-fullscreen-button
    transition: all 0.25s ease-out
    filter: invert(74%) sepia(43%) saturate(2249%) hue-rotate(74deg) brightness(104%) contrast(106%)
    &:hover
      filter: none
  &::-internal-media-controls-button-hover-background
    display: none
/*--- Hover Effects --------------------*/
.gallery, .entry__meta
  .image, .video
    transition: transform 0.15s ease-out
    &:hover
      -webkit-transform: scale(1.5)
      transform: scale(1.5)
