@font-face {
  font-family: monofonto;
  src: url(monofonto.ttf);
}
* {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
}

body {
  background-color: #4a412c;
}

/*--- Scrollbar ---*/
/* Width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #373929;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e1e18;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1e1e18;
}

/*--- Entry ---*/
.entry__date, .entry__stats, .entry__text {
  outline: 1px solid #1e1e18;
  color: #16FF42;
}

.entry {
  background-color: #1e1e18;
  outline: 1px solid #1e1e18;
  font-family: monofonto;
}
.entry:first-of-type {
  margin-top: 18px;
}
.entry__meta {
  background-color: #1e1e18;
  outline: 1px solid #1e1e18;
}
.entry__date {
  background-color: #373929;
}
.entry__stats {
  outline: 1px solid #1e1e18;
}
.entry__stat {
  background-color: #373929;
}
.entry__text {
  background-color: #373929;
  outline: 1px solid #1e1e18;
}
.entry {
  align-items: center;
  display: flex;
  width: 1024px;
  margin: auto;
  margin-bottom: 18px;
  padding: 9px;
}
.entry__image, .entry .gallery__image {
  transition: transform 0.25s ease-out;
}
.entry__image:hover, .entry .gallery__image:hover {
  -webkit-transform: scale(2);
  transform: scale(2);
  outline: 1px solid #1e1e18;
}
.entry__meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 449px;
}
.entry__image {
  width: 300px;
  height: 200px;
}
.entry__attributes {
  height: 200px;
  display: grid;
  grid-template-columns: 61px 61px;
  grid-template-rows: 78px 61px 61px;
  margin-left: auto;
  margin-right: 0;
}
.entry__date {
  grid-column: span 2;
  margin-bottom: 18px;
  line-height: 60px;
  text-align: center;
  cursor: default;
}
.entry__attribute {
  width: 61px;
  height: 61px;
  cursor: default;
  filter: invert(55%) sepia(50%) saturate(341%) hue-rotate(5deg) brightness(88%) contrast(86%);
}
.entry__stats {
  margin-top: 9px;
  display: grid;
  grid-template-columns: 215.5px 215.5px;
  height: 81px;
  align-items: center;
  width: 100%;
}
.entry__stat {
  display: flex;
  align-items: center;
  margin: 9px;
  margin-top: 0;
  margin-right: 0;
  cursor: default;
}
.entry__stat:nth-of-type(1), .entry__stat:nth-of-type(3) {
  margin-left: 0;
}
.entry__stat:nth-of-type(3), .entry__stat:nth-of-type(4) {
  margin-bottom: 0;
}
.entry__stat-image {
  height: 36px;
  width: 36px;
  margin-right: 9px;
  width: 29px;
  padding: 4.5px;
  filter: invert(81%) sepia(72%) saturate(5057%) hue-rotate(69deg) brightness(103%) contrast(115%);
}
.entry__stat-value {
  text-align: center;
  flex-grow: 1;
}
.entry__text {
  padding: 9px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 308px;
  overflow-y: auto;
  margin-left: 9px;
  border: 9px solid #1e1e18;
}
.entry__title {
  width: 100%;
  font-size: 29.1246117975px;
}
.entry__content p {
  margin: 0;
  margin-bottom: 29.1246117975px;
}
.entry__content p:last-of-type {
  margin-bottom: 0;
}

.gallery {
  padding: 0;
  display: flex;
  flex-direction: column;
  padding: 9px;
}
.gallery__row {
  display: flex;
  width: 100%;
}
.gallery__row--two .gallery__image {
  min-width: 50%;
}
.gallery__row--three .gallery__image {
  min-width: 33.333333%;
}
.gallery__row--four .gallery__image {
  min-width: 25%;
}
@media (max-width: 960px) {
  .entry {
    width: 100%;
  }
  .entry__meta {
    min-width: 388px;
    align-items: center;
  }
  .entry__attributes {
    grid-template-columns: 51px;
    grid-template-rows: 86px 51px 51px 51px 51px;
  }
  .entry__attribute {
    height: 51px;
    width: 51px;
  }
  .entry__date {
    font-size: 16px;
    line-height: 34px;
    grid-column: span 1;
  }
  .entry__stats {
    width: 300px;
    grid-template-columns: 145.5px 154.5px;
  }
}
@media (max-width: 404px) {
  .entry {
    flex-wrap: wrap;
  }
  .entry__meta {
    min-width: 318px;
  }
  .entry__attributes {
    width: 300px;
    height: auto;
    margin: 0;
    margin-top: 9px;
    grid-template-columns: 100px 50px 50px 50px 50px;
    grid-template-rows: 50px;
  }
  .entry__attribute {
    width: 50px;
    height: 50px;
  }
  .entry__date {
    margin-bottom: auto;
    width: 100;
    line-height: 50px;
  }
  .entry__text {
    margin-left: 0;
  }
}

/*# sourceMappingURL=master.css.map */
