@font-face
  font-family: monofonto
  src: url(monofonto.ttf)


/*=== Auxiliary =======================*/
$golden-ratio: 1.61803398875

$f: 100%

$s: $golden-ratio*10px
//heading font = content*$gr

$font-size: 18px
$font-size-heading:  $font-size*$golden-ratio

$g: #16FF42
$gb: 1px solid $g

$border-color: #EEEEEE

$border: 1px solid $border-color
$box-shadow: 0px 0px 5px $border-color
$background-color: white
@mixin border


@mixin stretch
  width: $f
  height: $f

/*=== Basic ===========================*/

*
  box-sizing: border-box
  max-width: 100%
  margin: 0
  padding: 0
body
  font-size: $font-size
  line-height: 32px
  font-family: monofonto
  max-width: 100%
  overflow-x: hidden
  background-color: $background-color
.main
  width: 100%
  margin: auto
  max-width: 1024px

/*--- Scrollbar -----------------------*/

@import "sass/back-to-top"


/*=== Back to Top =====================*/

#back-to-top

/*=== Page Layout =====================*/
.heading
  font-size: $font-size
  text-align: center
  font-weight: normal
  text-transform: uppercase

.header, .footer
  text-align: center
  margin: $s auto
  text-transform: uppercase

.image

/*=== Table of Contents ================*/

@import "sass/table-of-contents"

/*=== Entry ============================*/

@import "sass/entry"

/*--- Gallery --------------------------*/

@import "sass/gallery"


/*--- Content --------------------------*/

@import "sass/content"