@font-face {
  font-family: monofonto;
  src: url(monofonto.ttf);
}
/*=== Auxiliary =======================*/
/*=== Basic ===========================*/
* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  line-height: 32px;
  font-family: monofonto;
  max-width: 100%;
  overflow-x: hidden;
  background-color: white;
}

.main {
  width: 100%;
  margin: auto;
  max-width: 1024px;
}

/*--- Scrollbar -----------------------*/
.back-to-top {
  position: fixed;
  border: black solid 4.0450849719px;
  border-radius: 5px;
  bottom: 16.1803398875px;
  right: 16.1803398875px;
  width: 48.5410196625px;
  height: 48.5410196625px;
  background-image: url("/assets/ui/up.svg");
  background-size: 100%;
  z-index: 10;
}

/*=== Back to Top =====================*/
/*=== Page Layout =====================*/
.heading {
  font-size: 18px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.header, .footer {
  text-align: center;
  margin: 16.1803398875px auto;
  text-transform: uppercase;
}

/*=== Table of Contents ================*/
/*--- Display and positioning ----------*/
.toc {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}
.toc__item {
  max-width: 32.6666666667%;
  position: relative;
  margin-bottom: 1%;
  padding: 4.0450849719px;
}
.toc__item .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.toc__item .text {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}
.toc__item .text__left, .toc__item .text__right {
  position: absolute;
  padding: 8.0901699438px;
  line-height: 18px;
}
.toc__item .text__left {
  top: 12.1352549156px;
  left: 8.0901699438px;
  border-left: 1px solid #16FF42;
  border-top: 1px solid #16FF42;
}
.toc__item .text__right {
  bottom: 12.1352549156px;
  right: 16.1803398875px;
  border-bottom: 1px solid #16FF42;
  border-right: 1px solid #16FF42;
}

/*--- Colors and effects ---------------*/
.toc__item {
  box-shadow: 0px 0px 5px black;
}
.toc__item .text {
  text-shadow: 0px 0px 5px black;
}
.toc__item .text:hover * {
  color: gold;
  border-color: gold;
  transition: 0.15s all ease-out;
}
.toc__item .text__left, .toc__item .text__right {
  transition: 0.15s all ease-out;
  color: #16FF42;
}
.toc__item .text__left {
  box-shadow: -5px -5px 10px -10px black, inset 5px 5px 10px -10px black;
}
.toc__item .text__right {
  box-shadow: 5px 5px 10px -10px black, inset -5px -5px 10px -10px black;
}

@media (max-width: 600px) {
  .text__left, .text__right {
    font-size: 10px;
    line-height: 10px;
  }
}
/*=== Entry ============================*/
/*--- Display --------------------------*/
.entry {
  display: flex;
  margin-bottom: 32.360679775px;
}
.entry__meta {
  display: flex;
  width: 38.197%;
  flex-wrap: wrap;
  margin-right: 0.38197%;
  cursor: default;
}
.entry__meta .image {
  object-fit: cover;
  width: 61.803%;
}
.entry__meta .attributes {
  width: 38.197%;
  display: flex;
  flex-direction: column;
}
.entry__meta .attributes__wrapper--date {
  flex-grow: 1;
  display: flex;
  margin-left: 8.0901699438px;
}
.entry__meta .attributes__wrapper--date .date {
  align-self: center;
  display: block;
  width: 100%;
  flex-grow: 1;
  text-align: center;
}
.entry__meta .attributes__wrapper--attributes {
  height: 61.803%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-left: 8.0901699438px;
  border-top: none;
}
.entry__meta .attributes__wrapper--attributes .attribute {
  width: 32.360679775px;
  height: 32.360679775px;
}
.entry__meta .stats {
  display: grid;
  grid-template-columns: 0.38197fr 0.61803fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-top: 8.0901699438px;
  column-gap: 8.0901699438px;
}
.entry__meta .stats .stat {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.entry__meta .stats .stat__image {
  object-fit: contain;
  background-position: left;
  max-height: 32.360679775px;
  flex-grow: 1;
}
.entry__meta .stats .stat__value {
  text-align: right;
  width: 61.803%;
  padding-right: 16.1803398875px;
}
.entry__text {
  width: 61.803%;
  overflow-y: auto;
  max-height: 300px;
  padding: 8.0901699438px;
  margin-left: 0.61803%;
}
.entry__text .heading {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 8.0901699438px;
}
.entry__text .content {
  text-align: justify;
}
.entry__text .content p:not(p:last-of-type) {
  margin-bottom: 8.0901699438px;
}

/*--- Coloring -------------------------*/
.entry__meta .image {
  outline: 4.0450849719px solid white;
}
.entry__meta .attributes__wrapper--date {
  border: 1px solid #EEEEEE;
}
.entry__meta .stats .stat:nth-of-type(2), .entry__meta .stats .stat:first-of-type {
  border-top: 1px solid #EEEEEE;
}
.entry__meta .stats .stat:nth-of-type(3), .entry__meta .stats .stat:last-of-type {
  border-bottom: 1px solid #EEEEEE;
}
.entry__meta .stats .stat:nth-of-type(3), .entry__meta .stats .stat:first-of-type {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
.entry__meta .stats .stat:nth-of-type(2), .entry__meta .stats .stat:last-of-type {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
.entry__text {
  outline: 1px solid #EEEEEE;
}

/*--- Scrolling ------------------------*/
.entry {
  /* Width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.entry ::-webkit-scrollbar {
  outline: 1px solid #EEEEEE;
  width: 8.0901699438px;
}
.entry ::-webkit-scrollbar-track {
  background: white;
}
.entry ::-webkit-scrollbar-thumb {
  background: white;
  outline: 1px solid #EEEEEE;
}
.entry ::-webkit-scrollbar-thumb:hover {
  background: #EEEEEE;
}

/*--- Gallery --------------------------*/
/*--- Display --------------------------*/
.gallery {
  margin-bottom: 32.360679775px;
}
.gallery__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5%;
}
.gallery__row--1 .image, .gallery__row--1 .video {
  object-fit: cover;
  max-width: 100%;
}
.gallery__row--2 .image, .gallery__row--2 .video {
  object-fit: cover;
  max-width: 49.75%;
}
.gallery__row--3 .image, .gallery__row--3 .video {
  object-fit: cover;
  max-width: 33%;
}
.gallery__row--4 .image, .gallery__row--4 .video {
  object-fit: cover;
  max-width: 24.625%;
}
.gallery__row--5 .image, .gallery__row--5 .video {
  object-fit: cover;
  max-width: 19.6%;
}
.gallery__row--6 .image, .gallery__row--6 .video {
  object-fit: cover;
  max-width: 16.25%;
}
.gallery__row--7 .image, .gallery__row--7 .video {
  object-fit: cover;
  max-width: 13.8571428571%;
}
.gallery__row--8 .image, .gallery__row--8 .video {
  object-fit: cover;
  max-width: 12.0625%;
}
.gallery__row--9 .image, .gallery__row--9 .video {
  object-fit: cover;
  max-width: 10.6666666667%;
}
.gallery__row--10 .image, .gallery__row--10 .video {
  object-fit: cover;
  max-width: 9.55%;
}

/*--- Coloring -------------------------*/
.gallery .image, .gallery .video {
  outline: 4.0450849719px solid white;
}

/*--- Video Controls -------------------*/
.gallery .video::-webkit-media-controls-volume-slider, .gallery .video::-webkit-media-controls-volume-control-container, .gallery .video::-webkit-media-controls-mute-button, .gallery .video::-webkit-media-controls-timeline {
  display: none;
}
.gallery .video::-webkit-media-controls-current-time-display, .gallery .video::-webkit-media-controls-time-remaining-display {
  font-family: monofonto;
  opacity: 0.5;
  color: #16FF42;
}
.gallery .video::-webkit-media-controls-panel {
  background: none;
}
.gallery .video::-webkit-media-controls-play-button, .gallery .video::-webkit-media-controls-fullscreen-button {
  transition: all 0.25s ease-out;
  filter: invert(74%) sepia(43%) saturate(2249%) hue-rotate(74deg) brightness(104%) contrast(106%);
}
.gallery .video::-webkit-media-controls-play-button:hover, .gallery .video::-webkit-media-controls-fullscreen-button:hover {
  filter: none;
}
.gallery .video::-internal-media-controls-button-hover-background {
  display: none;
}

/*--- Hover Effects --------------------*/
.gallery .image, .gallery .video, .entry__meta .image, .entry__meta .video {
  transition: transform 0.15s ease-out;
}
.gallery .image:hover, .gallery .video:hover, .entry__meta .image:hover, .entry__meta .video:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/*--- Content --------------------------*/
blockquote {
  margin: 16.1803398875px auto;
  border-left: 4.0450849719px solid #EEEEEE;
  padding-left: 8.0901699438px;
}

.footnote {
  color: black;
  text-decoration: none;
  font-size: 0.5rem;
}

.reversefootnote {
  display: none;
}

.footnotes ol {
  line-height: 18px;
}
.footnotes ol li {
  font-size: 9px;
  list-style-position: inside;
}
.footnotes ol p {
  font-size: 9px;
  display: inline;
  word-break: break-all;
}

ul {
  padding: 0;
}
ul li {
  list-style-position: inside;
}
ul li > ul {
  padding-left: 16.1803398875px;
}
ul li > ul > ul {
  padding-left: 32.360679775px;
}

/*# sourceMappingURL=master.css.map */
