---
layout: default

---

{%- if site.posts.size > 0 -%}
  {%- for post in site.posts -%}
    {% capture day_posted %}{{ post.date | date: "%Y-%m-%d" }}{% endcapture %}
    <div class="entry">
      <div class="entry__meta">
        <img loading="lazy" class="entry__image" src="{{post.view.src}}" alt="{{post.view.alt}}" title="{{post.view.alt}}" />
        <div class="entry__attributes">
          <time class="entry__date" title="timestamp" datetime="{{day_posted}}">{{day_posted}}</time>
          <img loading="lazy" class="entry__attribute" title="Mood" src="/assets/ui/{{post.mood}}.svg" alt="{{post.mood}}" />
          <img loading="lazy" class="entry__attribute" title="Weather" src="/assets/ui/{{post.weather}}.svg" alt="{{post.weather}}" />
          <img loading="lazy" class="entry__attribute" title="Activity" src="/assets/ui/{{post.activity}}.svg" alt="{{post.activity}}" />
          <img loading="lazy" class="entry__attribute" title="Type of Location" src="/assets/ui/{{post.type}}.svg" alt="{{post.type}}" />
        </div>
        <div class="entry__stats">
          <div class="entry__stat" title="Steps taken on that date"><img loading="lazy" class="entry__stat-image" src="/assets/ui/s.svg" alt="Steps" /><span class="entry__stat-value">{{post.steps}}</span></div>
          <div class="entry__stat" title="Steps taken on that date"><img loading="lazy" class="entry__stat-image" src="/assets/ui/a.svg" alt="Active Zone Minutes" /><span class="entry__stat-value">{{post.azm}}</span></div>
          <div class="entry__stat" title="Steps taken on that date"><img loading="lazy" class="entry__stat-image" src="/assets/ui/d.svg" alt="Distance" /><span class="entry__stat-value">{{post.distance}}</span></div>
          <div class="entry__stat" title="Steps taken on that date"><img loading="lazy" class="entry__stat-image" src="/assets/ui/f.svg" alt="Floors" /><span class="entry__stat-value">{{post.floors}}</span></div>
        </div>
      </div>

      <div class="entry__text">
        <div class="entry__title">{{post.title}}</div>
        <div class="entry__content">
          {{post.content}}
        </div>
      </div>
    </div>

    {% if post.gallery %}
      <div class="gallery entry">
        {% for section in post.gallery %}
          <div class="gallery__row gallery__row--{{section["images"].size}}">
            {% for image in section["images"] %}
              <img loading="lazy" class="gallery__image" title="{{image.alt}}" src="{{image.src}}" alt="{{image.alt}}" />
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {%- endfor -%}
{%- endif -%}
